In [9]:
import pandas as pd
import time
import re
import nltk
import gensim
import gensim.corpora as corpora
import numpy as np
from bertopic import BERTopic
from sentence_transformers import SentenceTransformer
from umap import UMAP
from hdbscan import HDBSCAN
from nltk.stem import WordNetLemmatizer
from nltk.tokenize import word_tokenize
from sklearn.feature_extraction.text import CountVectorizer
from bertopic.vectorizers import ClassTfidfTransformer
from gensim.models.coherencemodel import CoherenceModel

## Reading the Data

In [10]:
tran = pd.read_csv("tran_sent_data.csv")
mda = pd.read_csv('mda_sent_data.csv')

In [11]:
tran = tran.drop(columns=['Unnamed: 0'])
mda = mda.drop(columns=['Unnamed: 0'])

In [12]:
df = pd.merge(tran,mda, on=['year','cik'])
df = df.reset_index(drop=True)
print(len(df))
print(len(df.dropna()))

5794
5788

In [13]:
print(len(df))
df = df[~df.isnull().any(axis=1)]
print(len(df))

5794
5788

## Formatting the Text

In [14]:
# Creation of a function to put the values in the right format
def remove_chars(s):
    s = s.replace('[', '').replace(']','')
    s = s.replace("'",'')
    s = s.replace(',','')
    return s

df['transcript_qQ1'] = df['transcript_qQ1'].apply(remove_chars)
df['transcript_qQ2'] = df['transcript_qQ2'].apply(remove_chars)
df['transcript_qQ3'] = df['transcript_qQ3'].apply(remove_chars)
df['transcript_qQ4'] = df['transcript_qQ4'].apply(remove_chars)
df['mda'] = df['mda'].apply(remove_chars)

Earlier tests have shown that all topics have the words: 'quarter', 'year', and 'million' in common. for the actual topic modelling, I decide to exclude these words

In [15]:
df["transcript_qQ1"] = df["transcript_qQ1"].str.replace("quarter", "")
df["transcript_qQ1"] = df["transcript_qQ1"].str.replace("million", "")
df["transcript_qQ1"] = df["transcript_qQ1"].str.replace("year", "")
df["transcript_qQ2"] = df["transcript_qQ2"].str.replace("quarter", "")
df["transcript_qQ2"] = df["transcript_qQ2"].str.replace("million", "")
df["transcript_qQ2"] = df["transcript_qQ2"].str.replace("year", "")
df["transcript_qQ3"] = df["transcript_qQ3"].str.replace("quarter", "")
df["transcript_qQ3"] = df["transcript_qQ3"].str.replace("million", "")
df["transcript_qQ3"] = df["transcript_qQ3"].str.replace("year", "")
df["transcript_qQ4"] = df["transcript_qQ4"].str.replace("quarter", "")
df["transcript_qQ4"] = df["transcript_qQ4"].str.replace("million", "")
df["transcript_qQ4"] = df["transcript_qQ4"].str.replace("year", "")

Further tests still find some similarities and I decide to remove the following words: 'business', 'first', 'second', 'third', 'fourth' (for each quarter respectively. 'think' is kept in as it represents uncertainty.

In [16]:
df["transcript_qQ1"] = df["transcript_qQ1"].str.replace("first", "")
df["transcript_qQ1"] = df["transcript_qQ1"].str.replace("business", "")
df["transcript_qQ2"] = df["transcript_qQ2"].str.replace("second", "")
df["transcript_qQ2"] = df["transcript_qQ2"].str.replace("business", "")
df["transcript_qQ3"] = df["transcript_qQ3"].str.replace("third", "")
df["transcript_qQ3"] = df["transcript_qQ3"].str.replace("business", "")
df["transcript_qQ4"] = df["transcript_qQ4"].str.replace("fourth", "")
df["transcript_qQ4"] = df["transcript_qQ4"].str.replace("business", "")

In [44]:
df = df.reset_index(drop=True)

## Topics Q1

In [45]:
# Applying BERTopic with its default values (transcripts Q1)
start = time.time()
topic_model1 = BERTopic(nr_topics=40,verbose=True, calculate_probabilities=False)
topics1 = topic_model1.fit_transform(df['transcript_qQ1'])
end = time.time()
print(end-start)

Batches:   0%|          | 0/181 [00:00<?, ?it/s]

2023-03-11 02:21:16,400 - BERTopic - Transformed documents to Embeddings
2023-03-11 02:21:58,171 - BERTopic - Reduced dimensionality
2023-03-11 02:21:58,870 - BERTopic - Clustered reduced embeddings
2023-03-11 02:22:52,485 - BERTopic - Reduced number of topics from 4 to 4

32602.647617816925

In [46]:
topic_model1.get_topic_info()

   Topic  Count                              Name
0      0     14         0_event_race_derby_nascar
1      1     29  1_student_program_enrollment_new
2      2    731     2_patient_think_product_study
3      3   5014       3_think_revenue_market_well

In [47]:
df_q1 = pd.DataFrame({"Document": df['transcript_qQ1'], "Topic_Q1": topics1[0]})

In [48]:
df_q1

                                               Document  Topic_Q1
0     well certainly key strategic priority think we...         2
1     thanks tom morning review performance major  s...         2
2     shared r program rick number pretty much numbe...         2
3     yes probably around right probably closer 2 th...         3
4     well u  would say one rare circumstance glad s...         2
...                                                 ...       ...
5783  thank melissa good morning everyone certainly ...         3
5784  think think think 2 way proactive go initiate ...         3
5785  thanks gene thank everyone call interest seawo...         3
5786  okay count told couple time resist urge annual...         3
5787  yes yeah thing picked bit second  auto pacing ...         3

[5788 rows x 2 columns]

In [49]:
df_q1.to_csv('topics_q1.csv', index=False)

## Topics Q2

In [50]:
# Applying BERTopic with its default values (transcripts Q2)
start = time.time()
topic_model2 = BERTopic(nr_topics=40,verbose=True, calculate_probabilities=False)
topics2 = topic_model2.fit_transform(df['transcript_qQ2'])
end = time.time()
print(end-start)

Batches:   0%|          | 0/181 [00:00<?, ?it/s]

2023-03-11 11:24:09,544 - BERTopic - Transformed documents to Embeddings
2023-03-11 11:24:24,716 - BERTopic - Reduced dimensionality
2023-03-11 11:24:25,554 - BERTopic - Clustered reduced embeddings
2023-03-11 11:25:39,582 - BERTopic - Reduced number of topics from 36 to 36

32565.527448415756

In [51]:
topic_model2.get_topic_info()

    Topic  Count                                  Name
0      -1   1385            -1_think_well_market_going
1       0     11          0_nascar_race_event_speedway
2       1    701           1_patient_study_trial_think
3       2     27  2_student_enrollment_program_learner
4       3   1086         3_revenue_think_market_growth
5       4     23          4_hotel_room_revpar_property
6       5     11             5_2009_project_would_cost
7       6     15          6_market_europe_think_growth
8       7     19      7_market_growth_revenue_increase
9       8     11    8_market_titanium_product_material
10      9   1221            9_think_sale_market_growth
11     10     35    10_aircraft_airline_think_airplane
12     11     34           11_price_volume_demand_sale
13     12     32              12_vehicle_car_used_unit
14     13     11           13_freight_truck_last_going
15     14     14      14_dram_product_customer_revenue
16     15     25             15_market_think_cash_cost
17     16     12           16_project_work_bid_backlog
18     17     14           17_market_sale_last_product
19     18     20           18_product_sale_growth_cost
20     19     12        19_sale_dealer_market_material
21     20     67        20_project_utility_energy_rate
22     21     12       21_revenue_market_client_growth
23     22     35    22_revenue_customer_service_margin
24     23    102   23_customer_revenue_service_network
25     24     61       24_customer_revenue_service_new
26     25     33     25_vehicle_sale_production_europe
27     26     19          26_crane_think_market_margin
28     27    478        27_revenue_think_market_growth
29     28     45                 28_coal_ton_mine_cost
30     29     13        29_project_bid_think_equipment
31     30     12               30_flotek_gas_dcp_plant
32     31     47              31_oil_crude_barrel_well
33     32     10           32_rig_think_day_petrodelta
34     33     75       33_well_production_drilling_oil
35     34     60       34_well_production_drilling_gas

In [52]:
df_q2 = pd.DataFrame({"Document": df['transcript_qQ2'], "Topic_Q2": topics2[0]})

In [53]:
df_q2

                                               Document  Topic_Q2
0     yes let john take question phil sure see reduc...         1
1     remark said would responding fda shortly expec...         1
2     fingertip jami smaller product mention mike qu...         1
3     good morning thanks joining u also today call ...         1
4     well thank thank question concludes abbott con...         9
...                                                 ...       ...
5783  thank manny good morning everyone certainly ap...         3
5784  think probably le potential mix improvement  h...         9
5785  thanks jim good afternoon everyone going finan...        15
5786  thank jennifer good afternoon everyone appreci...         3
5787  yeah acquired tv station   25  related station...         3

[5788 rows x 2 columns]

In [54]:
df_q2.to_csv('topics_q2.csv', index=False)

## Topics Q3

In [55]:
# Applying BERTopic with its default values (transcripts Q3)
start = time.time()
topic_model3 = BERTopic(nr_topics=40,verbose=True, calculate_probabilities=False)
topics3 = topic_model3.fit_transform(df['transcript_qQ3'])
end = time.time()
print(end-start)

Batches:   0%|          | 0/181 [00:00<?, ?it/s]

2023-03-11 20:28:49,039 - BERTopic - Transformed documents to Embeddings
2023-03-11 20:29:10,168 - BERTopic - Reduced dimensionality
2023-03-11 20:29:10,732 - BERTopic - Clustered reduced embeddings
2023-03-11 20:32:08,893 - BERTopic - Reduced number of topics from 50 to 40

32784.86909484863

In [56]:
topic_model3.get_topic_info()

    Topic  Count                                    Name
0      -1   2822          -1_think_revenue_market_growth
1       0    729            0_think_revenue_going_growth
2       1    416       1_revenue_product_market_customer
3       2    381          2_patient_study_trial_clinical
4       3    192           3_hospital_care_think_patient
5       4    191          4_well_drilling_rig_production
6       5    123              5_think_market_growth_well
7       6    104                 6_barrel_well_oil_crude
8       7     85               7_think_market_cash_going
9       8     72              8_market_think_cost_margin
10      9     47          9_project_rate_earnings_energy
11     10     47           10_store_sale_retail_increase
12     11     44       11_product_customer_market_design
13     12     35        12_product_market_customer_laser
14     13     33           13_restaurant_guest_sale_menu
15     14     32             14_coal_ton_mine_production
16     15     31       15_aircraft_airline_airplane_fuel
17     16     31       16_customer_revenue_service_cloud
18     17     31           17_brand_brewer_coffee_keurig
19     18     23    18_student_enrollment_campus_program
20     19     23             19_corn_price_product_grain
21     20     21            20_revenue_new_result_market
22     21     21  21_service_revenue_customer_subscriber
23     22     20             22_vehicle_market_ebit_sale
24     23     20       23_study_patient_vaccine_clinical
25     24     19               24_vehicle_car_think_used
26     25     18                 25_market_cost_sale_end
27     26     17                 26_blu_ray_think_market
28     27     17          27_pulpwood_harvest_price_land
29     28     17            28_mexico_volume_going_think
30     29     15            29_project_texas_going_would
31     30     15            30_hotel_room_revpar_booking
32     31     15           31_event_race_nascar_speedway
33     32     14          32_brand_store_sale_timberland
34     33     12             33_carbon_customer_ugg_sale
35     34     12          34_asset_investment_would_fund
36     35     12           35_brand_reynolds_camel_share
37     36     11       36_service_revenue_network_mobile
38     37     10         37_revenue_nic_service_customer
39     38     10            38_truckload_ltl_truck_going

In [57]:
df_q3 = pd.DataFrame({"Document": df['transcript_qQ3'], "Topic_Q3": topics3[0]})

In [58]:
df_q3

                                               Document  Topic_Q3
0     good morning certainly think possible talked l...         3
1     yes mike basically question say couple thing s...         1
2     right overall international piece doubled size...         2
3     thanks mile today reported ongoing diluted ear...        -1
4     okay thanks brian good morning morning reporte...         2
...                                                 ...       ...
5783  yes also focusing carbon material think carbon...        -1
5784  absolute updating everything integration right...         1
5785  thanks kelsey good afternoon everyone welcome ...        -1
5786  thanks good afternoon david mentioned net inco...         7
5787  thank denise welcome   2013 earnings call begi...        36

[5788 rows x 2 columns]

In [59]:
df_q3.to_csv('topics_q3.csv', index=False)

## Topics Q4

In [60]:
# Applying BERTopic with its default values (transcripts Q4)
start = time.time()
topic_model4 = BERTopic(nr_topics=40,verbose=True, calculate_probabilities=False)
topics4 = topic_model4.fit_transform(df['transcript_qQ4'])
end = time.time()
print(end-start)

Batches:   0%|          | 0/181 [00:00<?, ?it/s]

2023-03-12 05:32:21,201 - BERTopic - Transformed documents to Embeddings
2023-03-12 05:32:37,537 - BERTopic - Reduced dimensionality
2023-03-12 05:32:38,390 - BERTopic - Clustered reduced embeddings
2023-03-12 05:35:35,181 - BERTopic - Reduced number of topics from 55 to 40

32598.427647829056

In [61]:
topic_model4.get_topic_info()

    Topic  Count                                    Name
0      -1   2192          -1_think_market_revenue_growth
1       0   1777           0_revenue_think_market_growth
2       1    624          1_patient_study_trial_clinical
3       2    211          2_well_drilling_oil_production
4       3     99             3_brand_store_sale_consumer
5       4     64               4_utility_gas_energy_rate
6       5     63               5_think_revenue_cash_cost
7       6     52             6_market_sale_result_growth
8       7     47     7_customer_network_revenue_wireless
9       8     45        8_laser_customer_product_revenue
10      9     40              9_coal_ton_mine_production
11     10     38                  10_well_barrel_gas_oil
12     11     35             11_revenue_think_going_2009
13     12     35             12_sale_product_market_cost
14     13     33           13_restaurant_guest_sale_menu
15     14     30         14_revenue_client_growth_paypal
16     15     26            15_project_think_gas_station
17     16     26             16_project_2013_revenue_kbr
18     17     25     17_student_enrollment_campus_school
19     18     23              18_volume_coal_market_fuel
20     19     22          19_vehicle_rental_billion_ebit
21     20     22              20_hotel_revpar_room_brand
22     21     21  21_program_satellite_airplane_aircraft
23     22     20                   22_aam_2013_cash_sale
24     23     19         23_project_work_system_dredging
25     24     18            24_lumber_acre_harvest_price
26     25     16          25_cloud_revenue_customer_data
27     26     15            26_food_store_category_jamba
28     27     15           27_revenue_product_think_2013
29     28     14            28_vessel_tanker_charter_day
30     29     14               29_cost_slide_price_would
31     30     13         30_client_revenue_growth_margin
32     31     13        31_restaurant_store_market_going
33     32     12           32_inch_customer_would_market
34     33     12              33_product_market_new_cost
35     34     12                34_cash_think_2011_going
36     35     12       35_study_senomyx_patient_melafind
37     36     11            36_racing_race_gaming_nascar
38     37     11                  37_coal_ton_price_cost
39     38     11               38_think_rig_market_would

In [62]:
df_q4 = pd.DataFrame({"Document": df['transcript_qQ4'], "Topic_Q4": topics4[0]})

In [63]:
df_q4

                                               Document  Topic_Q4
0     yes went fairly rigorous self evaluation outsi...         1
1     okay think said piramal around 400  let give e...         1
2     thanks mile pleased ended 2011 strong   delive...        -1
3     thanks mile review financial position like exp...        -1
4     okay thanks brian good morning morning review ...         1
...                                                 ...       ...
5783  thanks david good morning everyone happy first...        -1
5784  sure long term target grow line category done ...         0
5785  ask jim heaney comment little bit expense numb...         0
5786  said extend use existing capacity moving back ...         0
5787  thank denise good morning everyone welcome   f...        -1

[5788 rows x 2 columns]

In [64]:
df_q4.to_csv('topics_q4.csv', index=False)

## Topics MDA

In [65]:
# Applying BERTopic with its default values (mda)
start = time.time()
topic_model5 = BERTopic(nr_topics=40,verbose=True, calculate_probabilities=False)
topics5 = topic_model5.fit_transform(df['mda'])
end = time.time()
print(end-start)

Batches:   0%|          | 0/181 [00:00<?, ?it/s]

2023-03-12 14:51:29,388 - BERTopic - Transformed documents to Embeddings
2023-03-12 14:51:51,828 - BERTopic - Reduced dimensionality
2023-03-12 14:51:52,408 - BERTopic - Clustered reduced embeddings
2023-03-12 14:59:43,884 - BERTopic - Reduced number of topics from 131 to 40

33875.25102329254

In [66]:
topic_model5.get_topic_info()

    Topic  Count                                      Name
0      -1   1744              -1_million_sale_revenue_cost
1       0   1772           0_million_revenue_year_december
2       1    361   1_development_product_clinical_research
3       2    322              2_gas_oil_natural_production
4       3    125                3_energy_power_gas_utility
5       4    123            4_health_care_medicare_service
6       5    122              5_vehicle_million_store_sale
7       6     98  6_product_semiconductor_customer_million
8       7     86                   7_sale_million_cost_net
9       8     81     8_restaurant_franchise_fiscal_company
10      9     74       9_project_construction_may_contract
11     10     72        10_aircraft_fuel_passenger_airline
12     11     69               11_million_31_december_year
13     12     62            12_service_million_revenue_tax
14     13     62       13_million_freight_railroad_revenue
15     14     58          14_product_sale_million_surgical
16     15     43    15_station_advertising_broadcast_radio
17     16     43            16_loan_fee_million_commission
18     17     39            17_hotel_room_property_million
19     18     37                     18_coal_ton_mine_cost
20     19     35                   19_water_gswc_rate_cpuc
21     20     35       20_subscriber_million_coal_dialysis
22     21     34                21_vessel_company_000_rate
23     22     27                22_gypsum_million_sale_net
24     23     26  23_student_education_program_institution
25     24     25                    24_rate_risk_nucor_raw
26     25     24     25_gaming_casino_ameristar_commission
27     26     22        26_potash_titanium_company_million
28     27     18              27_nasdaq_omx_market_trading
29     28     18               28_cancer_test_oncotype_000
30     29     17             29_pulp_refinery_mill_stendal
31     30     16       30_worksite_employee_payroll_worker
32     31     14            31_intevac_intevacs_million_31
33     32     13         32_beverage_bottling_company_cola
34     33     13              33_theatre_ncm_cinemark_film
35     34     12           34_nascar_event_racing_speedway
36     35     12       35_covance_animal_covances_hospital
37     36     12         36_timber_timberland_fiber_estate
38     37     11             37_calendar_sunopta_year_food
39     38     11     38_community_resident_entrance_living

In [67]:
df_mda = pd.DataFrame({"Document": df['mda'], "Topic_MDA": topics5[0]})

In [68]:
df_mda

                                               Document  Topic_MDA
0     financial review abbotts revenue derived prima...          1
1     financial review abbotts revenue derived prima...          1
2     financial review abbotts revenue derived prima...          1
3     financial review abbotts revenue derived prima...          1
4     financial review abbotts revenue derived prima...          1
...                                                 ...        ...
5783  dollar thousand except per share amount follow...          0
5784  included elsewhere form 10 k million per share...          0
5785  following discussion contains management discu...          0
5786  liquidity capital resource overview initial pu...          2
5787  executive summarywe operate service 43 televis...         15

[5788 rows x 2 columns]

## Merging all and extracting

In [69]:
df_all = pd.DataFrame({"cik": df['cik'], "year": df['year'], 'Topic_Q1': topics1[0],'Topic_Q2': topics2[0],
                       'Topic_Q3': topics3[0],'Topic_Q4': topics4[0],'Topic_MDA': topics5[0]})

In [70]:
df_all.to_csv('topic_features.csv')

In [71]:
df_all

            cik  year  Topic_Q1  Topic_Q2  Topic_Q3  Topic_Q4  Topic_MDA
0        1800.0  2008         2         1         3         1          1
1        1800.0  2010         2         1         1         1          1
2        1800.0  2011         2         1         2        -1          1
3        1800.0  2012         3         1        -1        -1          1
4        1800.0  2013         2         9         2         1          1
...         ...   ...       ...       ...       ...       ...        ...
5783  1561627.0  2013         3         3        -1        -1          0
5784  1564822.0  2013         3         9         1         0          0
5785  1564902.0  2013         3        15        -1         0          0
5786  1569134.0  2013         3         3         7         0          2
5787  1575571.0  2013         3         3        36        -1         15

[5788 rows x 7 columns]